.container{
    background-color: #4383fa;
    .nav{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 10px;
        width: 100%;
        li{
            list-style: none;
            a{
                text-decoration: none;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: larger;
                padding: 10px 260px;
                &.active{
                    background-color: #570a0a;
                    color: rgb(247, 244, 244);
                }
            }
        }
    }
}