.example-container {

    height: 200px;
    width: 100%;
    border: 1px solid #555;
    background: #eee;
    ul{
        li{
        list-style-type: none;
        padding: 5px;
        }
    }
  }
  