.example-container {

    height: 100%;
    width: 100%;
    border: 1px solid #555;
    background: #d34c4c;
    .activeButton{
        background-color: rgb(51, 51, 243);
        div{
            color: white;

        }
    }
  }
  